$primary-very-light:#FFD9A8;
$primary-light:#FFC67D;
$primary-main:#E8A752;
$primary-dark:#D38A2C;
$primary-very-dark:#A66714;

$secondary-very-light:#FFE9A8;
$secondary-light:#FFDE7D;
$secondary-main:#E8C252;
$secondary-dark:#D3A82C;
$secondary-very-dark:#A68114;

$tertiary-very-light:#FFBFA8;
$tertiary-light:#FFA07D;
$tertiary-main:#E87B52;
$tertiary-dark:#D3592C;
$tertiary-very-dark:#A63C14;

$breakPointXL: 1200px;
$breakPointL: 992px;
$breakPointM: 768px;
$breakPointS: 576px;