<html>
    <head>
        <style>
            body {
                font-size: 12px;
                /* margin: 4rem auto; */
                text-align: center;
                display:flex;
                align-items:center;
                justify-content: center;
            }
        </style>
    </head>
    <body>
        <p>
            <span class="pageNumber"></span> / <span class="totalPages"></span>
        </p>
    </body>
</html>