<html>
    <head>
        <style>
            body
            {
                height: 30px;
                background-color: red!important;
                -webkit-print-color-adjust: exact!important;
                color: black!important;
            }
        </style>
    </head>
    <body>
        <b>{{title|e}}</b>&nbsp-&nbsp<span class="ref">Facture {{ factureId|e }}</span>&nbsp- Page&nbsp<span class="pageNumber"></span>
    </body>
</html>