<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Votre commande a bien été prise en compte</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Redressed&amp;display=swap" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Poly&amp;display=swap" rel="stylesheet"/>
    </head>
<body>
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%;max-width:600px">
        <tr style="background-color:#E8A752;height:80px" >
            <td style="width:30px"></td>
            <td style="font-size:40px;color:#A63C14;font-family: Redressed;vertical-align: middle">Le Bon Pain</td>
            <td style="width:30px"></td>
        </tr>
        <tr style="height:30px">
            <td></td>
        </tr>
        <tr>
            <td style="width:30px"></td>
            <td style="font-family:Poly;text-align:justify;font-size:18px;">
                Bonjour {{firstname}} {{lastname}},<br/><br/>
                Votre commande a bien été validé vous pouvez dès a présent venir cherchez votre commande en boutique.<br/><br/>
                Pour recevoir votre commande vous devrez présenté le QRcode ci-dessous au vendeur depuis votre téléphone portable ou en imprimant le présent email.<br/><br/>
                Si le QrCode ne s'affiche pas vous pouvez le retrouver en pièce jointe<br/><br/>
                <table style="width:100%">
                    <tr>
                        <td valign="middle" align="center">
                            <img src="{{ qrCode }}" style="width:200px;height:200px" alt="QRCode"/>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width:30px"></td>
        </tr>
        <tr style="height:30px">
            <td></td>
        </tr>
        <tr style="height:100px;background-color: #A63C14;">
            <td style="width:30px"></td>
            <td valign="middle" align="center" style="font-family: Poly; color:#FFE9A8; vertical-align: middle">
                © Le Bon Pain - <a style="color:#FFE9A8" href="{{ contactUrl }}">Nous contacter</a>
            </td>
            <td style="width:30px"></td>
        </tr>
    </table>
</body>
</html>