<li class="{{ (location == 'invoices') ? 'selected' : '' }}">
    <a href="{{ base_url_relative }}/invoices">
        <i class="fa fa-fw fa-shopping-cart"></i>
        <em>Commandes</em>
    </a>
</li>