{% extends 'partials/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% do assets.addCss('theme://css-compiled/formdata.css', 97) %}
{% endblock %}

{% block content %}
    <div class="formdata">
        <div class="card">
            <h1>
                Page inconnu 
            </h1>
            <div class="msg">
                <p>
                La page que vous recherchiez semble ne pas exister. Pour continuez votre navigation veuillez cliquer sur le bouton ci-dessous.
                </p>
            </div>
            <a href="/" class="button">
                Revenir a l'accueil
            </a>
        </div>
    </div>
    
{% endblock %}
